#clr{
    color: #077eeee3;
}
.jam{
    color: rgb(24, 105, 105);
}
h2{
    color: #7617c4e3;
}
.kkk{
    color: rgba(192, 23, 23, 0.993);
    background-color: #eea609;
}
.mmm{
    background-color: rgb(218, 221, 233);
    color: #1a0be9;
}
.mmk{
    background-color: rgb(6, 240, 38);
}
table{
    background-color: aqua;
}
.jjj
{
    background-color: #1a0be9;
}